/* Global Reset & Base Styles */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    font-family: var(--font-primary);
    min-width: 430px;
}

a {
    text-decoration: unset;
    color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
}
