/* Login Page */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: var(--font-primary);
    box-shadow: var(--shadow-sm);
    font-weight: var(--font-weight-normal);
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    color: var(--color-white);
    font-family: var(--font-primary);
}

.login-form > button:hover {
    cursor: pointer;
    background-color: var(--color-primary-hover);
}

.login-form > button:disabled {
    background-color: var(--color-gray-medium);
    cursor: not-allowed;
}

.red {
    color: var(--color-error);
}

.sign-up-link {
    color: var(--color-primary);
}

.sign-up-link:hover {
    text-decoration: underline;
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}
